<h3>Create Account</h3>

<%= form_for :pt, url: pts_url, method: :post do |f| %>
  <input type="hidden" name="pt[clinic_id]" value="1">
  <label>Name:</label>
  <input type="text" name="pt[name]" value="<%= @pt.name %>">
  <br>
  <label>Email: </label>
  <input type="text" name="pt[email]" value="<%= @pt.email %>">
  <br>
  <label>Password: </label>
  <input type="password" name="pt[password]" value="<%= @pt.password %>">
  <br>
  <label >Phone Number:</label>
  <input type="text" name="pt[phone_number]" value="<%= @pt.phone_number %>">
  <br>
  <input type="submit" value="Create Account!">
<% end %>
